body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #191D88;
    color: whitesmoke;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #1450A3;
}

input {
    padding: 6px;
    border: 1px solid #337CCF;
    border-radius: 4px;
    outline: none;
}

button {
    padding: 10px 16px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #1450A3;
    color: #FFC436;
}

input:focus {
    border-color: #191D88;
}

button:hover {
    background-color: #191D88;
}

button:active {
    transform: translateY(2px);
}

/* button:disabled {
    background-color: red;
} */

.luasInputSection {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.inputButtonSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
}

@media screen and (max-width: 800px) {
    button {
        background-color: red;
    }
}

/* COBA GIT BRANCH */